* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  width: 100%;
  min-height: 100svh;
  padding: 20px 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}
