<div class="form">
  <div class="form__box">
    <h1>Регистрация</h1>
    <div class="form__inputs">
      <div class="form__inputs__box">
        <span id="username_error"></span>
        <input [(ngModel)]="username" type="text" name="username" id="username" placeholder="Имя пользователя">
      </div>
      <div class="form__inputs__box">
        <span id="email_error"></span>
        <input [(ngModel)]="email" type="email" name="email" id="email" placeholder="Email">
      </div>
      <div class="form__inputs__box">
        <span id="password_error"></span>
        <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="Пароль">
      </div>
      <button class="form__inputs__button" (click)="register()">Зарегистрироваться</button>
      <a href="/login/">Войти</a>
    </div>
  </div>
</div>

