<div class="form">
  <div class="form__box">
    <h1>Авторизация</h1>
    <div class="form__inputs">
      <div class="form__inputs__box">
        <span id="username_error"></span>
        <input [(ngModel)]="username" type="text" name="username" id="username" placeholder="Имя пользователя">
      </div>
      <div class="form__inputs__box">
        <span id="password_error"></span>
        <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="Пароль">
      </div>
      <p class="form__inputs__detail" id="detail_error"></p>
      <button class="form__inputs__button" (click)="login()">Войти</button>
    </div>
  </div>
</div>
