<div class="menu">
  <header class="menu__header">
    <h1 class="menu__header__text">Добро пожаловать</h1>
    <nav class="menu__header__nav">
      <a href="/chat/">Общение</a>
      <a class="menu__header__creation" href="/creation/">Добавить кота</a>
    </nav>
  </header>
  <ul class="menu__list">
    <li class="menu__list__element" *ngFor="let item of data">
      <p><span>Имя:</span> {{ item.name }}</p>
      <p><span>Возраст:</span> {{ item.age }}</p>
      <p><span>Порода:</span> {{ item.breed }}</p>
      <p><span>Цвет:</span> {{ item.color }}</p>
      <p *ngIf="item.favorite_food"><span>Любимая еда:</span> {{ item.favorite_food }}</p>
      <div class="menu__list__element__buttons">
        <a class="menu__list__element__edit" href="/cat/{{ item.id }}/">Изменить</a>
        <button class="menu__list__element__delete" (click)="delete(item.id)">Удалить</button>
      </div>
    </li>
  </ul>
  <div class="menu__nothing" *ngIf="data.length === 0">
    <h2 class="menu__nothing__text">Пока что тут ничего нет</h2>
  </div>
</div>
