<div class="form">
  <div class="form__box">
    <h1>{{ id ? 'Измените' : 'Добавте' }} своего пушистика</h1>
    <div class="form__inputs">
      <div class="form__inputs__box">
        <span id="photo_error"></span>
        <label class="photo__picker" for="photo">
          <input (change)="onFileSelected($event)" type="file" name="photo" id="photo" placeholder="Имя"
                 accept="image/*">
          Фото
        </label>
      </div>
      <div class="form__inputs__box">
        <span id="name_error"></span>
        <input [(ngModel)]="name" type="text" name="name" id="name" placeholder="Имя">
      </div>
      <div class="form__inputs__box">
        <span id="age_error"></span>
        <input [(ngModel)]="age" type="number" name="age" id="age" placeholder="Возраст" min="0" max="30">
      </div>
      <div class="form__inputs__box">
        <span id="breed_error"></span>
        <input [(ngModel)]="breed" type="text" name="breed" id="breed" placeholder="Порода">
      </div>
      <div class="form__inputs__box">
        <span id="color_error"></span>
        <input [(ngModel)]="color" type="text" name="color" id="color" placeholder="Цвет">
      </div>
      <div class="form__inputs__box">
        <span id="favorite_food_error"></span>
        <textarea [(ngModel)]="favorite_food" name="favorite_food" id="favorite_food"
                  placeholder="Любимая еда"></textarea>
      </div>
      <p class="form__inputs__detail" id="detail_error"></p>
      <button class="form__inputs__button" (click)="action()">{{ id ? 'Изменить' : 'Добавить' }}</button>
    </div>
  </div>
</div>
