.form{
  flex-direction: column;
  gap: 20px;
}

.form__inputs__box textarea{
  padding: 10px;
  resize: none;
  height: 100px;
}

.form__inputs__box textarea,
.form__inputs__box input{
  border: 2px solid #b95db9;
}

.form__inputs__button{
  background: linear-gradient(135deg, #4c4cee, #b95db9 70%);
}
