.form {
  width: 100%;
  min-height: calc(100svh - 40px);
}

.form,
.form__box,
.form__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}


.form__box {
  max-width: 314px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px gray;
  flex-direction: column;
  box-sizing: border-box;
}

.form__box h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form__inputs {
  flex-direction: column;
  gap: 15px;
}

.form__inputs__box {
  display: flex;
  flex-direction: column;
}

.form__inputs__box span {
  font-size: 12px;
  color: orangered;
  margin-left: 10px;
}

.form__inputs__box input,
.form__inputs__box textarea {
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid cornflowerblue;
  padding: 0 10px;
}

.form__inputs__button {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: darkseagreen;
  color: white;
  border: none;
}

.form__inputs__detail {
  text-align: center;
}
